/* main stylesheet */

// Variables for light theme
$c0: #000;
$c1: #111;
$c2: #222;
$c3: #333;
$c4: #444;
$c5: #555;
$c6: #666;
$c7: #777;
$c8: #888;
$c9: #999;
$ca: #aaa;
$cb: #bbb;
$cc: #ccc;
$cd: #ddd;
$ce: #eee;
$cf: #fff;

$textColor: $c0;
$textColorDark: $cf;

$backColor: $cf;
$backColorDark: $c0;

$navColor: $cd;
$navColorDark: $c2;

$divColor: $c4;
$divColorDark: $cc;

* {
    margin: 0px;
}

#root, body {
    color: $textColor;
    background-color: $backColor;
    height: 100vh;
    width: 100vw;
}

#root.dark, body.dark {
    color: $textColorDark;
    background-color: $backColorDark;
}

nav {
    background-color: $navColor;
}

nav > * {
    color: $textColor;
}

nav.dark {
    color: $textColorDark;
    background-color: $navColorDark;
}

nav.dark > * {
    color: $textColorDark;
}

.navlink {
    margin: 4px;
    color: $textColor
}

.navuser {
    display: inline;
    font-weight: 600;
}
